# Python virtual environment
venv/

# Logs
*.log
logs/
**/logs/

# Downloaded files
downloads/
**/downloads/

# Build files
build.gradle

# IDE files
.idea/

# Processed output
processed_output/

# Temporary files
test_urls.parquet

# Custom scripts
scraping/download_and_extract_scripts/run_downloader.sh

# Source directory if it's not part of the original
src/
__pycache__/
*.pyc
